{% extends 'shortifier/base.html' %}


{% block title %} Сервис генерирования коротких ссылок {% endblock %}
{% block content %}

    {% for error in form.non_field_errors %}
    <span class="error-message">{{ error }}</span>
    {% endfor %}

    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Получить короткую ссылку</button>
    </form>

{% endblock content %}